swagger: "2.0"
info:
  version: "1.0.0"
  title: Propa API
# during dev, should point to your local machine
#host: localhost:10010

#production host
host: propa-ose-gm-test.apps.us-east-1.online-starter.openshift.com
# basePath prefixes all resource paths 
basePath: /
# 
schemes:
  # tip: remove http to make production-grade
#  - http
  - https
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
paths:
  /Version:
    # our controller name
    x-swagger-router-controller: propa
    get:
      description: get dll version
      operationId: Version
      # define the type of response for Success "200" and Error
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/OkResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
          
  /clima/Rain_Intensity:
    # our controller name
    x-swagger-router-controller: propa
    get:
      description: Rain Intensity (mm/h)
      operationId: Rain_Intensity
      parameters:
      - name: lat
        in : query
        description: latitude
        required: true
        type: number
        format: double
      - name: lon
        in : query
        description: longitude
        required: true
        type: number
        format: double
      - name: unav
        in : query
        description: unavailability
        required: true
        type: number
        format: double
      # define the type of response for Success "200" and Error
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/OkResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"		
   
  /clima/Nwet:
    # our controller name
    x-swagger-router-controller: propa
    get:
      description: Wet term of refraction coindex
      operationId: Nwet
      parameters:
      - name: lat
        in : query
        description: latitude
        required: true
        type: number
        format: double
      - name: lon
        in : query
        description: longitude
        required: true
        type: number
        format: double
			# define the type of response for Success "200" and Error
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/OkResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
            
  /clima/Rain_height:
    # our controller name
    x-swagger-router-controller: propa
    get:
      description: Rain height (km)
      operationId: Rain_height
      parameters:
      - name: lat
        in : query
        description: latitude
        required: true
        type: number
        format: double
      - name: lon
        in : query
        description: longitude
        required: true
        type: number
        format: double
			# define the type of response for Success "200" and Error
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/OkResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"  
 
  /clima/TCC:
    # our controller name
    x-swagger-router-controller: propa
    get:
      description: Total Columnar Content of liquid water (kg/m2) exceeded during p % of an average year
      operationId: TCC
      parameters:
      - name: lat
        in : query
        description: latitude
        required: true
        type: number
        format: double
      - name: lon
        in : query
        description: longitude
        required: true
        type: number
        format: double
      - name: unav
        in : query
        description: unavailability
        required: true
        type: number
        format: double
      # define the type of response for Success "200" and Error
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/OkResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"	
            
  /clima/WVC:
    # our controller name
    x-swagger-router-controller: propa
    get:
      description: Annual Surface Water Vapour density (g/m3)
      operationId: WVC
      parameters:
      - name: lat
        in : query
        description: latitude
        required: true
        type: number
        format: double
      - name: lon
        in : query
        description: longitude
        required: true
        type: number
        format: double

      # define the type of response for Success "200" and Error
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/OkResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"

  /clima/iwvc:
    # our controller name
    x-swagger-router-controller: propa
    get:
      description: Annual Integrated Water Vapour Content (kg/m2) exceeded during p % of an average year
      operationId: iwvc
      parameters:
      - name: lat
        in : query
        description: latitude
        required: true
        type: number
        format: double
      - name: lon
        in : query
        description: longitude
        required: true
        type: number
        format: double
      - name: unav
        in : query
        description: unavailability
        required: true
        type: number
        format: double
      # define the type of response for Success "200" and Error
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/OkResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"	

  /clima/Temperature:
    # our controller name
    x-swagger-router-controller: propa
    get:
      description: Temperature (°K)
      operationId: Temperature
      parameters:
      - name: lat
        in : query
        description: latitude
        required: true
        type: number
        format: double
      - name: lon
        in : query
        description: longitude
        required: true
        type: number
        format: double

      # define the type of response for Success "200" and Error
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/OkResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
            
  /clima/Tmr:
    # our controller name
    x-swagger-router-controller: propa
    get:
      description: TMR (°K)
      operationId: Tmr
      parameters:
      - name: surft
        in : query
        description: Surface temperature (°K)
        required: true
        type: number
        format: double


      # define the type of response for Success "200" and Error
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/OkResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
        
  /clima/Tnoise:
    # our controller name
    x-swagger-router-controller: propa
    get:
      description: Sky noise temperature
      operationId: Tnoise
      parameters:
      - name: TAtt
        in : query
        description: Total attenuation except scintillation (dB)
        required: true
        type: number
        format: double
      - name: MRtemp
        in : query
        description: Mean radiating temperature (°K)
        required: true
        type: number
        format: double		
      # define the type of response for Success "200" and Error
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/OkResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"

  /attn/Agaz:
    # our controller name
    x-swagger-router-controller: propa
    get:
      description: Atmospheric gazes attenuation (dB)
      operationId: Agaz
      parameters:
      - name: freq
        in : query
        description: Frequency (GHz)
        required: true
        type: number
        format: double
      - name: elev
        in : query
        description: Elevation (radians)
        required: true
        type: number
        format: double
      - name: temp
        in : query
        description: Temperature (°K)
        required: true
        type: number
        format: double
      - name: wvd
        in : query
        description: Water Vapour density (g/m3)
        required: true
        type: number
        format: double		
      # define the type of response for Success "200" and Error
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/OkResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"		
            
  /attn/Agaz_exceeded:
    # our controller name
    x-swagger-router-controller: propa
    get:
      description: Atmospheric gazes attenuation exceeded during p % of an average year (dB)
      operationId: Agaz_exceeded
      parameters:
      - name: freq
        in : query
        description: Frequency (GHz)
        required: true
        type: number
        format: double
      - name: elev
        in : query
        description: Elevation (radians)
        required: true
        type: number
        format: double
      - name: temp
        in : query
        description: Temperature (°K)
        required: true
        type: number
        format: double
      - name: iwvc
        in : query
        description: Integrated Water Vapour Content (kg/m2)
        required: true
        type: number
        format: double		
      # define the type of response for Success "200" and Error
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/OkResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"	
            
  /attn/Arain:
 
    # our controller name
    x-swagger-router-controller: propa
    get:
      description: Atmospheric gazes attenuation exceeded during p % of an average year (dB)
      operationId: Arain
      parameters:
      - name: lat
        in : query
        description: latitude
        required: true
        type: number
        format: double
      - name: freq
        in : query
        description: Frequency (GHz)
        required: true
        type: number
        format: double
      - name: elev
        in : query
        description: Elevation (radians)
        required: true
        type: number
        format: double
      - name: unav
        in : query
        description: unavailability
        required: true
        type: number
        format: double
      - name: STAHeight
        in : query
        description: Station Height (km)
        required: true
        type: number
        format: double
      - name: RainHeight
        in : query
        description: Rain Height (km)
        required: true
        type: number
        format: double  
      - name: RainInt
        in : query
        description: Rain Intensity exceeded during p % of an average year (mm/h)
        required: true
        type: number
        format: double
      - name: tilt
        in : query
        description: Tilt angle (°)
        required: true
        type: number
        format: double        
        
      # define the type of response for Success "200" and Error
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/OkResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"	
            
  /attn/Acloud:
 
    # our controller name
    x-swagger-router-controller: propa
    get:
      description: Clouds attenuation (dB) exceeded during p % of an average year
      operationId: Acloud
      parameters:
      - name: freq
        in : query
        description: Frequency (GHz)
        required: true
        type: number
        format: double
      - name: elev
        in : query
        description: Elevation (radians)
        required: true
        type: number
        format: double
      - name: tccw
        in : query
        description: Total Columnar Content of liquid water(kg/m2)
        required: true
        type: number
        format: double

      # define the type of response for Success "200" and Error
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/OkResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"	 

  /attn/Iscint:
 
    # our controller name
    x-swagger-router-controller: propa
    get:
      description: Scintillation standard deviation (dB) exceeded during p % of an average year
      operationId: Iscint
      parameters:
      - name: wref
        in : query
        description: Wet term of refraction co-index
        required: true
        type: number
        format: double
      - name: freq
        in : query
        description: Frequency (GHz)
        required: true
        type: number
        format: double
      - name: elev
        in : query
        description: Elevation (radians)
        required: true
        type: number
        format: double
      - name: unav
        in : query
        description: unavailability
        required: true
        type: number
        format: double
      - name: STAHeight
        in : query
        description: Station Height (km)
        required: true
        type: number
        format: double
      - name: AntEff
        in : query
        description: Antenna efficiency
        required: true
        type: number
        format: double  
      - name: AntDiam
        in : query
        description: Antenna Diameter (m)
        required: true
        type: number
        format: double
       
        
      # define the type of response for Success "200" and Error
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/OkResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"	
            
  /attn/XPD:
 
    # our controller name
    x-swagger-router-controller: propa
    get:
      description: Cross polar discrimination long term statistics based on rain attenuation (dB)
      operationId: XPD
      parameters:
      - name: RainExc
        in : query
        description: Rain attenuation exceeded for p(%) of time (dB)
        required: true
        type: number
        format: double
      - name: tilt
        in : query
        description: Tilt angle (°)
        required: true
        type: number
        format: double     
      - name: freq
        in : query
        description: Frequency (GHz)
        required: true
        type: number
        format: double        
      - name: PathElev
        in : query
        description: Path elevation angle (°)
        required: true
        type: number
        format: double
      - name: percTime
        in : query
        description: Percentage of time (%)
        required: true
        type: number
        format: double
  
      # define the type of response for Success "200" and Error
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/OkResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"	
 
  /attn/EFSR:
 
    # our controller name
    x-swagger-router-controller: propa
    get:
      description: RAIN ATTENUATION ON FREQ 2 FROM FREQ 1 (using frequency scaling) 
      operationId: EFSR
      parameters:
      - name: f1GHz
        in : query
        description: Frequency f1 (GHz)
        required: true
        type: number
        format: double        
      - name: f2GHz
        in : query
        description: Frequency f2 > f1 (GHz)
        required: true
        type: number
        format: double
      - name: Arain
        in : query
        description: equiprobable excess rain attenuation on link @ f1 (dB)
        required: true
        type: number
        format: double
      
      # define the type of response for Success "200" and Error
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/OkResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"	


  /swagger:
    x-swagger-pipe: swagger_raw
# complex objects have schema definitions
definitions:
  OkResponse:
    required:
      - message
    properties:
      message:
        type: string
  ErrorResponse:
    required:
      - message
    properties:
      message:
        type: string
